@import "@radix-ui/colors/green.css";
@import "@radix-ui/colors/green-dark.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/yellow-dark.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/red-dark.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/blue-dark.css";
@import "@radix-ui/colors/orange.css";
@import "@radix-ui/colors/orange-dark.css";
@import "@radix-ui/colors/purple.css";
@import "@radix-ui/colors/purple-dark.css";
@import "@radix-ui/colors/pink.css";
@import "@radix-ui/colors/pink-dark.css";
@import "@radix-ui/colors/slate.css";
@import "@radix-ui/colors/slate-dark.css";

:root {
  --sfpy-color-white: #fff;
  --sfpy-color-black: #00112c;

  --sfpy-green-1: #27F3A8;
  --sfpy-green-2: #25E49E;
  --sfpy-green-3: #00CF83;
  --sfpy-green-4: #009F65;
  --sfpy-green-5: #006741;
  --sfpy-green-6: #00462C;

  --sfpy-blue-1: #335CFF;
  --sfpy-blue-2: #1F4BFF;
  --sfpy-blue-3: #0A3BFF;
  --sfpy-blue-4: #0031F4;
  --sfpy-blue-5: #002DE0;
  --sfpy-blue-6: #0029CC;

  --sfpy-red-1: #FE4160;
  --sfpy-red-2: #FF1745;
  --sfpy-red-3: #EF1641;
  --sfpy-red-4: #DC143C;
  --sfpy-red-5: #C11235;
  --sfpy-red-6: #9C0E2B;

  --sfpy-grey-1: #f7f7f8;
  --sfpy-grey-2: #eeeff1;
  --sfpy-grey-3: #d1d5da;
  --sfpy-grey-4: #8d95a3;
  --sfpy-grey-5: #5c687c;
  --sfpy-grey-6: #2f3e56;
  --sfpy-grey-7: #1a2a44;
  --sfpy-grey-8: #0d1e38;
  --sfpy-grey-9: #00112c;

  --sfpy-organge-1: #ff9650;
  --sfpy-organge-2: #ff883a;
  --sfpy-organge-3: #ff7d27;
  --sfpy-organge-4: #e87223;
  --sfpy-organge-5: #c6611e;
  --sfpy-organge-6: #a25018;

  /* App Icon Backgrounds */
  --sfpy-color-app-cyan: #07c0cb;
  --sfpy-color-app-light-blue: #1e92c4;
  --sfpy-color-app-dark-blue: #0b67af;
  --sfpy-color-app-indigo: #4b50b2;
  --sfpy-color-app-purple: #8945a3;
  --sfpy-color-app-pink: #c04891;
  --sfpy-color-app-orange: #e96d3c;
  --sfpy-color-app-gold: #f38f2f;
  --sfpy-color-app-yellow: #eebc01;
  --sfpy-color-app-lime: #aabd04;
  --sfpy-color-app-light-green: #6aa72a;
  --sfpy-color-app-dark-green: #3a8e39;

  /* Backgrounds */
  --sfpy-theme-background-default: var(--sfpy-color-white);
  --sfpy-theme-background-screen: var(--sfpy-grey-1);
  --sfpy-theme-background-subtle: var(--slate-2);
  --sfpy-theme-background-element: var(--slate-3);
  --sfpy-theme-background-hover: var(--slate-4);
  --sfpy-theme-background-selected: var(--slate-5);
  --sfpy-theme-background-overlay: var(--sfpy-color-white);
  --sfpy-theme-background-success: var(--green-3);
  --sfpy-theme-background-warning: var(--yellow-3);
  --sfpy-theme-background-danger: var(--red-3);
  --sfpy-theme-background-info: var(--blue-3);

  /* Icons */
  --sfpy-theme-icon-default: var(--slate-11);
  --sfpy-theme-icon-secondary: var(--slate-10);
  --sfpy-theme-icon-tertiary: var(--slate-9);
  --sfpy-theme-icon-quaternary: var(--slate-8);
  --sfpy-theme-icon-success: var(--green-10);
  --sfpy-theme-icon-warning: var(--yellow-11);
  --sfpy-theme-icon-danger: var(--red-10);
  --sfpy-theme-icon-info: var(--blue-10);

  /* Text */
  --sfpy-theme-text-default: var(--sfpy-color-black);
  --sfpy-theme-text-secondary: var(--sfpy-grey-5);
  --sfpy-theme-text-white: var(--sfpy-color-white);
  --sfpy-theme-text-link: var(--sfpy-blue-5);
  --sfpy-theme-text-success: var(--sfpy-green-6);
  --sfpy-theme-text-danger: var(--sfpy-red-6);
  --sfpy-theme-text-info: var(--sfpy-blue-5);

  --sfpy-theme-text-tertiary: var(--slate-10);
  --sfpy-theme-text-quaternary: var(--slate-9);
  --sfpy-theme-text-warning: var(--yellow-11);


  /* Borders */
  --sfpy-theme-border-default: var(--slate-7);
  --sfpy-theme-border-secondary: var(--slate-6);
  --sfpy-theme-border-success: var(--green-7);
  --sfpy-theme-border-warning: var(--yellow-7);
  --sfpy-theme-border-danger: var(--red-7);
  --sfpy-theme-border-info: var(--blue-7);

  /* Buttons */
  --sfpy-color-primary-blue: var(--sfpy-blue-5);
  --sfpy-color-primary-black: var(--sfpy-color-black);
  --sfpy-color-primary-white: var(--sfpy-color-white);
  --sfpy-color-primary-grey: var(--sfpy-grey-1);
  --sfpy-color-primary-blue-hover: var(--sfpy-blue-6);
  --sfpy-color-primary-black-hover: var(--sfpy-grey-6);
  --sfpy-color-primary-white-hover: var(--sfpy-grey-2);

  --sfpy-theme-button-primary-background: var(--sfpy-blue-5);
  --sfpy-theme-button-primary-border: var(--sfpy-blue-5);
  --sfpy-theme-button-primary-hover: var(--sfpy-blue-6);
  --sfpy-theme-button-primary-icon: var(--sfpy-blue-1);
  --sfpy-theme-button-primary-text: var(--sfpy-color-white);
  --sfpy-theme-button-primary-disabled-background: var(--sfpy-blue-6);
  --sfpy-theme-button-primary-disabled-border: var(--sfpy-blue-6);
  --sfpy-theme-button-primary-disabled-text: var(--sfpy-color-white);

  --sfpy-theme-button-secondary-background: var(--sfpy-color-white);
  --sfpy-theme-button-secondary-border: var(--slate-8);
  --sfpy-theme-button-secondary-hover: var(--slate-3);
  --sfpy-theme-button-secondary-icon: var(--slate-11);
  --sfpy-theme-button-secondary-text: var(--slate-12);
  --sfpy-theme-button-secondary-disabled-background: var(--sfpy-color-white);
  --sfpy-theme-button-secondary-disabled-border: var(--slate-6);
  --sfpy-theme-button-secondary-disabled-text: var(--slate-9);

  --sfpy-theme-button-tertiary-background: transparent;
  --sfpy-theme-button-tertiary-border: transparent;
  --sfpy-theme-button-tertiary-hover: var(--blue-4);
  --sfpy-theme-button-tertiary-icon: var(--blue-9);
  --sfpy-theme-button-tertiary-text: var(--blue-10);
  --sfpy-theme-button-tertiary-disabled-background: transparent;
  --sfpy-theme-button-tertiary-disabled-border: transparent;
  --sfpy-theme-button-tertiary-disabled-text: var(--blue-8);

  --sfpy-theme-button-quaternary-background: transparent;
  --sfpy-theme-button-quaternary-border: transparent;
  --sfpy-theme-button-quaternary-hover: var(--slate-4);
  --sfpy-theme-button-quaternary-icon: var(--slate-11);
  --sfpy-theme-button-quaternary-text: var(--slate-12);
  --sfpy-theme-button-quaternary-disabled-background: transparent;
  --sfpy-theme-button-quaternary-disabled-border: transparent;
  --sfpy-theme-button-quaternary-disabled-text: var(--slate-9);

  --sfpy-theme-button-primary-destructive-background: var(--red-10);
  --sfpy-theme-button-primary-destructive-border: var(--red-10);
  --sfpy-theme-button-primary-destructive-hover: var(--red-11);
  --sfpy-theme-button-primary-destructive-icon: var(--red-3);
  --sfpy-theme-button-primary-destructive-text: var(--sfpy-color-white);
  --sfpy-theme-button-primary-destructive-disabled-background: var(--red-7);
  --sfpy-theme-button-primary-destructive-disabled-border: var(--red-7);
  --sfpy-theme-button-primary-destructive-disabled-text: var(--sfpy-color-white);

  --sfpy-theme-button-secondary-destructive-background: var(--sfpy-color-white);
  --sfpy-theme-button-secondary-destructive-border: var(--red-7);
  --sfpy-theme-button-secondary-destructive-hover: var(--red-3);
  --sfpy-theme-button-secondary-destructive-icon: var(--red-9);
  --sfpy-theme-button-secondary-destructive-text: var(--red-11);
  --sfpy-theme-button-secondary-destructive-disabled-background: var(--sfpy-color-white);
  --sfpy-theme-button-secondary-destructive-disabled-border: var(--red-5);
  --sfpy-theme-button-secondary-destructive-disabled-text: var(--red-8);

  /* Light shadows */
  --sfpy-theme-shadows-none: 0 0 transparent;
  --sfpy-theme-shadows-xs: 0 1px 3px rgba(0, 0, 0, 0.025),
    0 1px 2px rgba(0, 0, 0, 0.05);
  --sfpy-theme-shadows-sm: 0 3px 6px rgba(0, 0, 0, 0.08),
    0 2px 4px rgba(0, 0, 0, 0.07);
  --sfpy-theme-shadows-md: 0 10px 20px rgba(0, 0, 0, 0.1),
    0 3px 6px rgba(0, 0, 0, 0.05);
  --sfpy-theme-shadows-lg: 0 15px 25px rgba(0, 0, 0, 0.12),
    0 5px 10px rgba(0, 0, 0, 0.05);
  --sfpy-theme-shadows-xl: 0 20px 40px rgba(0, 0, 0, 0.15);

  /* Heading Font sizing */
  --sfpy-theme-heading-base-font-size: 12px;
}

.dark-theme {
  /* Backgrounds */
  --sfpy-theme-background-default: var(--slate-1);
  --sfpy-theme-background-screen: #0C0D0E;
  --sfpy-theme-background-subtle: var(--slate-2);
  --sfpy-theme-background-element: var(--slate-3);
  --sfpy-theme-background-hover: var(--slate-4);
  --sfpy-theme-background-selected: var(--slate-5);
  --sfpy-theme-background-overlay: var(--slate-2);
  --sfpy-theme-background-success: var(--green-3);
  --sfpy-theme-background-warning: var(--yellow-3);
  --sfpy-theme-background-danger: var(--red-3);
  --sfpy-theme-background-info: var(--blue-3);

  /* Icons */
  --sfpy-theme-icon-default: var(--slate-11);
  --sfpy-theme-icon-secondary: var(--slate-10);
  --sfpy-theme-icon-tertiary: var(--slate-9);
  --sfpy-theme-icon-quaternary: var(--slate-8);
  --sfpy-theme-icon-success: var(--green-10);
  --sfpy-theme-icon-warning: var(--yellow-11);
  --sfpy-theme-icon-danger: var(--red-10);
  --sfpy-theme-icon-info: var(--blue-10);

  /* Text */
  --sfpy-theme-text-default: var(--slate-12);
  --sfpy-theme-text-secondary: var(--slate-11);
  --sfpy-theme-text-tertiary: var(--slate-10);
  --sfpy-theme-text-quaternary: var(--slate-9);
  --sfpy-theme-text-link: var(--blue-11);
  --sfpy-theme-text-success: var(--green-11);
  --sfpy-theme-text-warning: var(--yellow-11);
  --sfpy-theme-text-danger: var(--red-11);
  --sfpy-theme-text-info: var(--blue-11);

  /* Borders */
  --sfpy-theme-border-default: var(--slate-7);
  --sfpy-theme-border-secondary: var(--slate-6);
  --sfpy-theme-border-success: var(--green-7);
  --sfpy-theme-border-warning: var(--yellow-7);
  --sfpy-theme-border-danger: var(--red-7);
  --sfpy-theme-border-info: var(--blue-7);

  /* Buttons */
  --sfpy-theme-button-primary-background: var(--blue-8);
  --sfpy-theme-button-primary-border: var(--blue-8);
  --sfpy-theme-button-primary-hover: var(--blue-7);
  --sfpy-theme-button-primary-icon: var(--blue-12);
  --sfpy-theme-button-primary-text: var(--sfpy-color-white);
  --sfpy-theme-button-primary-disabled-background: var(--blue-7);
  --sfpy-theme-button-primary-disabled-border: var(--blue-7);
  --sfpy-theme-button-primary-disabled-text: var(--slate-11);

  --sfpy-theme-button-secondary-background: var(--slate-3);
  --sfpy-theme-button-secondary-border: var(--slate-8);
  --sfpy-theme-button-secondary-hover: var(--slate-4);
  --sfpy-theme-button-secondary-icon: var(--slate-12);
  --sfpy-theme-button-secondary-text: var(--sfpy-color-white);
  --sfpy-theme-button-secondary-disabled-background: var(--slate-1);
  --sfpy-theme-button-secondary-disabled-border: var(--slate-7);
  --sfpy-theme-button-secondary-disabled-text: var(--slate-11);

  --sfpy-theme-button-tertiary-background: transparent;
  --sfpy-theme-button-tertiary-border: transparent;
  --sfpy-theme-button-tertiary-hover: var(--blue-4);
  --sfpy-theme-button-tertiary-icon: var(--blue-10);
  --sfpy-theme-button-tertiary-text: var(--blue-11);
  --sfpy-theme-button-tertiary-disabled-background: transparent;
  --sfpy-theme-button-tertiary-disabled-border: transparent;
  --sfpy-theme-button-tertiary-disabled-text: var(--blue-9);

  --sfpy-theme-button-quaternary-background: transparent;
  --sfpy-theme-button-quaternary-border: transparent;
  --sfpy-theme-button-quaternary-hover: var(--slate-4);
  --sfpy-theme-button-quaternary-icon: var(--slate-12);
  --sfpy-theme-button-quaternary-text: var(--sfpy-color-white);
  --sfpy-theme-button-quaternary-disabled-background: transparent;
  --sfpy-theme-button-quaternary-disabled-border: transparent;
  --sfpy-theme-button-quaternary-disabled-text: var(--slate-11);

  --sfpy-theme-button-primary-destructive-background: var(--red-8);
  --sfpy-theme-button-primary-destructive-border: var(--red-8);
  --sfpy-theme-button-primary-destructive-hover: var(--red-7);
  --sfpy-theme-button-primary-destructive-icon: var(--red-12);
  --sfpy-theme-button-primary-destructive-text: var(--sfpy-color-white);
  --sfpy-theme-button-primary-destructive-disabled-background: var(--red-6);
  --sfpy-theme-button-primary-destructive-disabled-border: var(--red-6);
  --sfpy-theme-button-primary-destructive-disabled-text: var(--red-12);

  --sfpy-theme-button-secondary-destructive-background: var(--red-3);
  --sfpy-theme-button-secondary-destructive-border: var(--red-7);
  --sfpy-theme-button-secondary-destructive-hover: var(--red-2);
  --sfpy-theme-button-secondary-destructive-icon: var(--red-9);
  --sfpy-theme-button-secondary-destructive-text: var(--red-11);
  --sfpy-theme-button-secondary-destructive-disabled-background: var(--red-2);
  --sfpy-theme-button-secondary-destructive-disabled-border: var(--red-6);
  --sfpy-theme-button-secondary-destructive-disabled-text: var(--red-10);

  /* Dark shadows */
  --sfpy-theme-shadows-none: 0 0 transparent;
  --sfpy-theme-shadows-xs: 0 1px 3px rgba(0, 0, 0, 0.3),
    0 1px 2px rgba(0, 0, 0, 0.3);
  --sfpy-theme-shadows-sm: 0 3px 6px rgba(0, 0, 0, 0.4),
    0 2px 4px rgba(0, 0, 0, 0.25);
  --sfpy-theme-shadows-md: 0 10px 20px rgba(0, 0, 0, 0.25),
    0 3px 6px rgba(0, 0, 0, 0.25);
  --sfpy-theme-shadows-lg: 0 15px 25px rgba(0, 0, 0, 0.5),
    0 5px 10px rgba(0, 0, 0, 0.25);
  --sfpy-theme-shadows-xl: 0 20px 40px rgba(0, 0, 0, 0.5);
}

@media (min-width: 401px) {
  :root {
    --sfpy-theme-heading-base-font-size: 14px;
  }
}

@media (min-width: 901px) {
  :root {
    --sfpy-theme-heading-base-font-size: 16px;
  }
}